.Tickets {
    width: 1345px;
    height: 1024px;
    position: relative;
    background: white;
  }
  
  .Box {
    width: 262px;
    height: 944px;
    left: 0;
    top: 80px;
    position: absolute;
    background: #eb8c11;
    border-top-right-radius: 25px;
    position: fixed;
  }
  
  .Header{
    width: 1345px;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
  }
  
  .LogoHeader{
    height: 60px;
    width: 230px;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .LogoImage{
    height: 100px;
    width: 430px;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .HeaderRight {
    left: 1070px;
    top: 12px;
    position: absolute;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-top: 15px;
  }
  
  /* .Account {
    width: 39px;
    height: 39px;
    background: #f5f5f5;
    border-radius: 19.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  } */
  
  .share-icon,.question-icon,.settings-icon{
    width: 39px;
    height: 39px;
    color: #3a2685;
    font-size: 25px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 19.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .S {
    width: 39px;
    height: 39px;
    color: #3a2685;
    font-size: 25px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    border: none;
    background-color: rgb(189, 189, 197);
    border-radius: 19.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .Icon {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Heading {
    left: 294px;
    top: 96px;
    position: absolute;
    color: #2e2e2e;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    position: fixed;
  }
  
  .Top-Head{
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 250px;
    height: -webkit-fill-available;
    background-color: #FF7A1B;
    color: white;
    padding: 20px;
    margin-top: 70px;
    padding-top: 0cm;
    padding-left: 0cm;
    border-top-right-radius: 40px; 
    border-bottom-right-radius: 40px;
    position: fixed;
  }
  
  .sidebar nav ul {
    list-style: none;  
    padding: 5px;
  }
  
  .sidebar nav ul li {
    display: flex;  
    align-items: center;  
    padding: 15px;
    cursor: pointer;
    margin: 8px 15px;
    border-radius: 5px;
  }
  
  .sidebar nav ul li {
    margin-right: 10px; 
  }
  
  
  .sidebar nav ul li:hover {
    background-color: #ff784e;
  }
  
  button {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0; 
    cursor: pointer;
    text-align: left;
    color: white; 
    font-weight: 500; 
    font-size: 16px; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    width: 150%; 
    font-family: 'poppins';
  }
  
  
  /* If you want to move the text inside the button, use margin/padding */
  button img {
    width: 40px; /* Adjust icon size */
    height: 40px; /* Adjust icon size */
  }
  
  
  /* Container Styles */
  .filter-container {
    left: 294px;
    display: flex;
    top: 130px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    margin: auto;
    position: fixed;
  }
  
  /* Project Selector and Shared Dropdown Styles */
  .project-selector,
  .date-range-selector,
  .status-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
  }
  
  .Button{
    height: 35px;
    width: 100px;
    background-color: #3a2685;
    color: white;
    border-radius: 6px;
    border: none;
  }
  
  .dropdown-input {
    height: 32px;
    padding: 10px 10px;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(102, 104, 107, 0.36);
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  
  .placeholder-text {
    flex: 1;
    color: #979696;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
  }
  
  /* Dropdown Icon Styles */
  .dropdown-icon {
    padding: 5px 6px;
    background: #3a2685;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-wrapper{
    border: none;
    background-color: #3a2685;
  }
  
  .icon-arrow,.icon-filter {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  /* Filter Button Styles */
  .filter-button,.btn-primary {
    padding: 5px 6px;
    background: #3a2685;
    border-radius: 6px;
    color: #ffffff;
    border: 1px solid #3a2685;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .icon-filter {
    width: 18px;
    height: 21px;
    background: white;
  } */
  